/*
    Nier line background animations.
*/
@layer utilities {

    .nier-background-animation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        pointer-events: none;
        z-index: 1; /* Above grid (999) but below UI */
        overflow: hidden;
      }
      
      .diagonal-lines {
        position: absolute;
        width: 200%;
        height: 200%;
        top: -50%;
        left: -50%;
      }
      
      .diagonal-line {
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: rgba(109, 104, 88, 0.3);
        transform: rotate(135deg);
      }
      
      .line-1 {
        left: 35%;
      }
      
      .line-2 {
        left: 37%;
        animation: shift-horizontal 20s ease-in-out infinite;
      }
      
      .line-3 {
        left: 39%;
      }
      
      @keyframes shift-horizontal {
        0%, 100% {
          transform: rotate(135deg) translateX(0);
        }
        25%, 75% {
          transform: rotate(135deg) translateX(1vw);
        }
        50%{
            transform: rotate(135deg) translateX(-1vw);
        }
      }

      /*
        Circular Animation
      */

      .loader{
        position: relative;
        width: 150px;
        height: 150px;
        animation: rotate 2s linear infinite;
      }

      @keyframes rotate{
        0%{
          transform: rotate(0deg);
        }
        100%{
          transform: rotate(360deg);
        }
      }

      .loader circle{
        width: 100%;
        height: 100%;
        fill: none;
        stroke-width: 7;
        stroke: #48483D;
        /* stroke-linecap: round; */
        transform: translate(5px, 5px);
        stroke-dasharray: 440;
        stroke-dashoffset: 440;
        animation: animate 2s linear infinite;
      }

      @keyframes animate{
        0%{
          stroke-dashoffset: 440;
        }
        50%{
          stroke-dashoffset: 0;
        }
        50.1%{
          stroke-dashoffset: 880;
        }
      }
  }