@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');
@import "tailwindcss";
@source "src/**/*.{js,jsx,ts,tsx}";
@import './styles/animations.css';
@import './styles/custom.css';

@theme {
    --color-nier-50: #C6C2A5;
    --color-nier-100: #DBD5B3;
    --color-nier-100-lighter: #f0e9c5;
    --color-nier-150: #A9A38B;
    --color-nier-shadow: #98977B;
    --color-nier-dark: #48483D;
    --color-nier-text-dark: #3a3a31;
    --color-nier-text-light: #C4BEAC;
}

@layer base {
  p, h1, h2, h3, h4, ion-icon {
    color: var(--color-nier-text-dark);
  }
}