@import "tailwindcss";
@source "src/**/*.{js,jsx,ts,tsx}";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');
@import './styles/animations.css';
@import './styles/custom.css';

@theme {
    --color-nier-50: #C6C2A5;
    --color-nier-100: #DBD5B3;
    --color-nier-150: #A9A38B;
    --color-nier-shadow: #98977B;
    --color-nier-dark: #48483D;
    --color-nier-text-dark: #48483D;
    --color-nier-text-light: #C4BEAC;
}